{% extends 'components/layout.html' %}

<body>
{% block content %}

    {% include 'components/header.html' %}

    <!-- service section -->

    {% include 'components/service.html' %}

    <!-- end service section -->


    <!-- about section -->

    {% include 'components/about_sect.html' %}

    <!-- end about section -->

    <!-- why section -->

    {% include 'components/why-us.html' %}

    <!-- end why section -->

    <!-- team section -->
    {% include 'components/our_team.html' %}
    <!-- end team section -->


    <!-- client section -->

    {% include 'components/client.html' %}
    <!-- end client section -->


    <!-- info section -->

    {% include 'components/info.html' %}

    <!-- end info section -->

    <!-- footer section -->

    <!-- footer section -->
{% endblock %}

